* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: #9fb6f7;
  box-sizing: border-box;
}

.header {
  margin: 50px auto;
  text-align: center;
}

.container {
  width: 100%;
  margin: 100px auto;
  text-align: center;
  width: 625px;
  background: #fff;
  padding: 20px 40px 20px;
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.384);
  color: rgb(56, 56, 56);
  border-radius: 5px;
}

.quote-div {
  margin: 30px auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  background: #fff;
  font-size: 25px;
}

span {
  display: flex;
  background: #fff;
}

#quote {
  background: #fff;
  text-align: center;
  font-size: 26px;
  color: rgb(56, 56, 56);
  margin: 5px;
}

#author {
  margin: auto;
  text-align: center;
  font-style: italic;
  background: #fff;
  font-size: 24px;
  color: rgb(80, 80, 80);
}

#button {
  border: none;
  outline: none;
  padding: 12px 20px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  display: block;
  background: rgb(228, 88, 53);
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.199);
}

/* Media queries */
@media screen and (max-width: 400px) {
  .container {
    width: 200px;
    padding: 5px 10px 5px;
  }

  #quote {
    font-size: 18px;
  }

  #author {
    font-size: 168px;
  }

  #button {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 400px;
    padding: 10px 30px 10px;
  }

  #quote {
    font-size: 20px;
  }

  #author {
    font-size: 18px;
  }

  #button {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 500px;
  }

  #quote {
    font-size: 22px;
  }

  #author {
    font-size: 20px;
  }

  #button {
    font-size: 18px;
  }
}
